/*
    Toasts
*/

.toast {
    position: fixed;
    z-index: 99;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    padding: $padding--xs;
    background: $color__white;
    border-left: 8px solid $color__orange;
    // border-radius: $border-radius;
    max-width: 800px;
    transition: all 0.3s ease-in;
    box-shadow: 0px 8px 16px -4px rgba(0,0,0,0.25), 0px 16px 48px -10px rgba(0,0,0,0.12);

    font: normal 1rem/100% $mono, monospace;
    color: $color__xdarkgrey;

    &.show {
        bottom: $padding--sm;
    }
}